.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  margin: 0;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}

.App-link {
  color: #09d3ac;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.rate_container {
  border-top: 2px solid purple;
}

.rate_container span.fa {
font-size: 2em;
cursor: pointer;
}
